In [4]:
avengers = {
    'superheroes': ['Thor', 'Iron Man', 'Captain America'],
    'villains': ['Loki', 'Ultron Bots', 'Thanos'],
    'chapters':['The Avengers', 'Age of Ultron', 'Endgame']
}

In [5]:
import pandas as pd        # importing pandas library

In [6]:
df = pd.DataFrame(avengers)           # passing the avengers dictionary in DataFrame
df             # printing the Data frame

       superheroes     villains       chapters
0             Thor         Loki   The Avengers
1         Iron Man  Ultron Bots  Age of Ultron
2  Captain America       Thanos        Endgame

In [9]:
df['superheroes'] + ' - ' + df['villains']

0                 Thor - Loki
1      Iron Man - Ultron Bots
2    Captain America - Thanos
dtype: object

In [10]:
df['superheroes_villains'] = df['superheroes'] + ' - ' + df['villains']
df

       superheroes     villains       chapters      superheroes_villains
0             Thor         Loki   The Avengers               Thor - Loki
1         Iron Man  Ultron Bots  Age of Ultron    Iron Man - Ultron Bots
2  Captain America       Thanos        Endgame  Captain America - Thanos

In [13]:
df.drop(columns=['superheroes', 'villains'])       # removing two columns

        chapters      superheroes_villains
0   The Avengers               Thor - Loki
1  Age of Ultron    Iron Man - Ultron Bots
2        Endgame  Captain America - Thanos

In [14]:
df.drop(columns=['superheroes', 'villains'], inplace=True)
df

        chapters      superheroes_villains
0   The Avengers               Thor - Loki
1  Age of Ultron    Iron Man - Ultron Bots
2        Endgame  Captain America - Thanos

In [16]:
df['superheroes_villains'].str.split(' - ')

0                 [Thor, Loki]
1      [Iron Man, Ultron Bots]
2    [Captain America, Thanos]
Name: superheroes_villains, dtype: object

In [17]:
df['superheroes_villains'].str.split(' - ', expand=True)        # exoand argument to split in dataframe

                 0            1
0             Thor         Loki
1         Iron Man  Ultron Bots
2  Captain America       Thanos

In [18]:
df[['superheroes', 'villains']] = df['superheroes_villains'].str.split(' - ', expand=True)
df

        chapters      superheroes_villains      superheroes     villains
0   The Avengers               Thor - Loki             Thor         Loki
1  Age of Ultron    Iron Man - Ultron Bots         Iron Man  Ultron Bots
2        Endgame  Captain America - Thanos  Captain America       Thanos

In [21]:
df.append({'superheroes': 'Hulk'})

TypeError: Can only append a dict if ignore_index=True

In [23]:
df.append({'superheroes': 'Hulk'}, ignore_index=True)

        chapters      superheroes_villains      superheroes     villains
0   The Avengers               Thor - Loki             Thor         Loki
1  Age of Ultron    Iron Man - Ultron Bots         Iron Man  Ultron Bots
2        Endgame  Captain America - Thanos  Captain America       Thanos
3            NaN                       NaN             Hulk          NaN

In [42]:
justice_league = {
    'superheroes': ['Wonder Woman', 'Aquaman'],
    'villains': ['Stepponwolf', 'darkseid'],
    'chapters':['Justice League', 'Zack Snyders Justice League']
}
df2 = pd.DataFrame(justice_league)
df2

    superheroes     villains                     chapters
0  Wonder Woman  Stepponwolf               Justice League
1       Aquaman     darkseid  Zack Snyders Justice League

In [45]:
#df.append(df2, ignore_index=True)

In [46]:
#df.append(df2, ignore_index=True, sort=False)

In [47]:
#df = df.append(df2, ignore_index=True, sort=False)

In [48]:
#df.drop(index=4)